<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style/auth_style.css') }}">
</head>
<body>
    <div class = "auth_window">
        <img src="{{ url_for('static', path='/images/super_kenny.png') }}" class ="kenny" alt="супер_кенни">
        <h1 class = "text_auth">Вход в личный кабинет</h1>
        <form action="" class="auth_form">
            <div class = input_fields>
                <div class = "block_to_row">
                    <label for="login_input">Логин:</label>
                    <input class = "input_field" type="text" name = "username" id="login_input">
                </div>
                <div class = "block_to_row">
                    <label for="password_input">Пароль:</label>
                    <input class = "input_field" type="password" name = "password" id="password_input">
                </div>
            </div>
        </form>
            <div class = "buttons">
                <button class = "auth_btn btn" type="submit" disabled = "true">Войти</button>
                <button class = "reg_btn btn" type = "button">Регистрация</button>
            </div>

    </div>
   <script src="{{ url_for('static', path='/script/auth_page.js') }}"></script>
</body>
</html>