*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'South Park Cyrillic';
    src: url('SouthPark_Cyr.eot');
    src: local('South Park Cyrillic'), local('SouthPark_Cyr'),
        url('SouthPark_Cyr.eot?#iefix') format('embedded-opentype'),
        url('SouthPark_Cyr.woff2') format('woff2'),
        url('SouthPark_Cyr.woff') format('woff'),
        url('SouthPark_Cyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    position: relative;
    background-image: url(../images/authenticate_background.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
}

/* ФОРМА */

.auth_window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    text-align: center;
    font-family: 'South Park Cyrillic', sans-serif;
    background-color: orange;
    width: 500px;
    height: 320px;
}


.auth_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input_fields{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.input_field{
    font-family: 'South Park Cyrillic', sans-serif;   
    margin-top: 20px;
    width: 300px;
    height: 30px;
}

.text_auth{
    margin-top: 20px;
    margin-bottom: 0;
}

.block_to_row{
    margin-top: 15px;
}

#login_input{
    margin-left: 27px;
}

#password_input{
    margin-left: 20px;
}


/* КНОПКИ */

.buttons{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 0.3fr 0.3fr;
    gap: 25px;
    margin-top: 30px;
}

.btn{
    font-family: 'South Park Cyrillic', sans-serif;
    font-size: 13px;
    color: white;
    background-color: rgb(148, 145, 145);
    border: 0px solid rgb(129, 126, 126);
    margin-top: 30px;
    width: 120px;
    height: 30px;
    transition: all 1s;
    cursor: pointer
}

.btn:hover{
    background-color: rgb(90, 83, 83)
}

.auth_btn:disabled{
    cursor: no-drop;
    background-color: rgb(40, 38, 38);
}


/* КАРТИНКИ */

.kenny{
    position: absolute;
    top: -40%;
    left: 12%;
    transform: translate(12%, -40%);
    width: 300px;
    height: auto;
}